<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICE VAULT | Login</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <main id="container">
        <form action="/login" class="login__form" method="POST">
            <h1 class="auth__header">LOGIN</h1>
            <div class="auth__cta">
                    <input type="text" name="username" class="auth__input" autocomplete="off" placeholder="user id">
                    <input type="password" name="password" class="auth__input" autocomplete="off" placeholder="password">
                <input type="submit" value="CHECK IN &rarr;" id="auth__submit">
                <a href="index.html" class="back__button">Go Back &rarr;</a>
            </div>
        </form>
    </main>
</body>
</html>